{% extends "base.html" %} {% block content %}
<div class="mt-4">
  <a
    href="{% url 'event_detail' pk=entry.event.pk %}"
    class="rounded-md bg-red-600 px-3 py-2 text-sm font-medium text-white hover:bg-red-700"
  >
    Back
  </a>
</div>
<div class="flex flex-col mb-6 mt-4 justify-between">
  <div>
    <h1 class="text-3xl text-pretty text-black-900 font-extrabold">
      {{ entry.name }}
    </h1>
    <h1 class="text-lg text-pretty text-black-900">{{ entry.event.name }}</h1>
  </div>
  <div class="flex gap-3">
    <form
      action="{% url 'access_entry_detail' entry.id %}"
      method="post"
    >
      {% csrf_token %}
      <input
        type="hidden"
        name="toggle_status"
        value="1"
      />
      <button
        type="submit"
        class="btn {% if entry.status == entry.ARRIVED %}btn-warning{% else %}btn-success{% endif %}"
      >
        {% if entry.status == entry.ARRIVED %} Mark as not arrived {% else %}
        Mark as arrived {% endif %}
      </button>
    </form>
    <button
      class="btn btn-success"
      onclick="editEntryDialog.showModal()"
    >
      Edit
    </button>
  </div>
  <dialog
    id="editEntryDialog"
    class="modal"
  >
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
          ✕
        </button>
      </form>
      <h3 class="text-lg font-bold">Edit Access Entry</h3>
      {% include "./edit_entry_form.html" %}
    </div>
  </dialog>
</div>

<div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
  <div class="flex lg:flex-col text-center justify-between">
    <h3 class="font-bold lg:text-lg">Type</h3>
    <p>{{ entry.access_type }}</p>
  </div>
  <div class="flex lg:flex-col text-center justify-between">
    <h3 class="font-bold lg:text-lg">Tickets</h3>
    <p>{{ entry.number_of_tickets }}</p>
  </div>
  <div
    class="flex lg:flex-col text-center justify-between place-content-center"
  >
    <h3 class="font-bold lg:text-lg">Access Level</h3>
    <div
      class="badge badge-lg lg:mx-auto"
      style="background-color: {{ entry.access_level.color }};"
    >
      {{ entry.access_level.name }}
    </div>
  </div>
  <div class="flex lg:flex-col text-center justify-between">
    <h3 class="font-bold lg:text-lg">Status</h3>
    <p>{{ entry.status }}</p>
  </div>
</div>

<div class="flex gap-2 mt-6">
  <h3 class="text-xl text-pretty text-black-900 font-extrabold">Space</h3>
  <div>
    {% if entry.space_entry.first.space.name %}
    <div class="badge badge-lg bg-red-600 text-white">
      {{entry.space_entry.first.space.name }}
    </div>
    {% else %}
    <div class="flex gap-3 justify-start">
      {% for space in spaces %}
      <form
        action="{% url 'assign_space' entry.id %}"
        method="post"
      >
        {% csrf_token %}
        <input
          type="hidden"
          name="space_id"
          value="{{ space.id }}"
        />
        <button
          type="submit"
          name="space_id"
          value="{{ space.id }}"
          class="badge badge-lg bg-white text-red-600 border border-red-600 hover:bg-red-600 hover:text-white transition"
        >
          {{ space.name }}
        </button>
      </form>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
